img {
    width: 100%;
}

.gg {
    border-radius: 50%;
}

.rb {
    border-radius: 50%;
}

.tt {
    border-radius: 50%;
}

.row {
    margin: 50px 0;
    align-items: center;
}

.m-bg {

    border-radius: 30px;
    text-align: center;
}

.m-bg,
.color-bg {
    background-color: rgb(174, 174, 174);
    margin: 50px 0;

}

.color-bg {
    border-radius: 30px;
}